@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #252b46;
  /*Primary*/
  --Blue-600: #5368df;
  --Red-400: #fa5757;
  /*Neutral*/
  --Grey-50: #f7f7f7;
  --Blue-950: #252b46;
  /* Typography */
  --font-size-body: 18px;
  --font-sans: "Rubik", sans-serif;
  /*bg-SIDEBAR*/
  --bg-Sidebar:#2d334d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-600: var(--Blue-600);
  --color-red-400: var(--Red-400);
  --color-grey-50: var(--Grey-50);
  --color-blue-950: var(--Blue-950);
  --color-Sidebar: var(--bg-Sidebar);

  --font-sans: var(--font-sans);
  --font-size-body: var(--font-size-body);
}
.dark{
    --background: #0a0a0a;
    --foreground: #ededed;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
